body{ 
  margin:0px;
  padding:0px;
  font-family:arial;
}
img{ 
  border:none;
}
div#header{ 
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:30px;
  background:#0093D0;
  color:#fff;
  padding:20px 40px;
  z-index:1000;
  box-shadow:0px 5px 5px #999;

}

div#footer{ 
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:15px;
  background:#393939;
  text-align:center;
  color:#ccc;
  padding:10px;
  z-index:1000;
}
div#footer a, div#footer a:visited{ 
  color:#aaa
}
div#footer a:hover{
  color:#999;
} 
div#logo{ 
  float:left;
}

div#map{ 
  position:absolute;
  top:70px;
  bottom:35px;
  left:0px;
  right:0px;
  background:#eee;
}
div.locator{ 
  float:right;
  font-size:16px;
  margin-top:-10px;
}
div.locator input{ 
  padding:5px;
  color:#666;
  font-size:16px;
  margin:0px 10px 0px 5px;
}
div.locator input.zipcode{
  width:80px;
} 

div#location{ 
  float:right;
  display:none;
  margin-top:0px;
}
div#location input{
  margin-left:10px;
}

div#location span{ 
  font-weight:bold;
}
.btn{ 
  cursor:pointer;
  padding:5px 10px;
  border-radius:5px;
  background:#0093d0;
  border: solid 1px #ccc;
  color:#fff;
  display:inline;
}
.btn:hover{ 
  background:#00a3e0;
}
div#modalcontainer{ 
  background: rgba(255,255,255,0.5);
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1000;
}
div#modalmessage{ 
  width:450px;
  background:#fff;
  padding:20px;
  border:solid 3px #00a3e0;
  box-shadow:5px 5px 5px #ccc;
  margin:150px auto;
}
div.spacer{ 
  clear:both;
  height:1px;
}
div#modalmessage div.locator{ 
  margin:20px 0px 0px 0px;

}
h1{ 
  color:#0093d0;
  font-size:32px;
  margin:5px 0px 3px 0px;

}

h2{ 
  color:#0093d0;
  font-size:18px;
  margin:5px 0px;
}

h3{ 
  font-weight:normal;
  font-size:18px;
  color:#666;
  margin:0px;
  text-align:justify;
}

img.logos{ 
  margin-right:15px;
}

div.infowindow{ 
  color:#666;
  font-size:14px;
  line-height:18px;
}
div.infowindow a, div.infowindow a:visited{ 
  color:#666;
  text-decoration:none;
}
div.infowindow a:hover{
  color:#333;
  text-decoration:underline;
} 
div.infowindow h4{ 
  color:0093d0;
  margin:5px 0px;
  font-size:22px;
}
div#storecontainer{ 
  background: rgba(0,0,0,0.5);
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1000;
  display:none;
}

div#storelist{ 
  width:80%;
  max-width:700px;
  background:#fff;
  padding:20px;
  border:solid 3px #00a3e0;
  box-shadow:5px 5px 5px #666;
  margin:50px auto;
  color:#333;
  height:80%;
  overflow:auto;
  position:relative;
}
div#storelist h1{ 
  margin-bottom:0px;
}
div#storelist h2{ 
  clear:both;
}
div#storelist ul{
  padding:0px;
  margin:10px 0px;
}
div#storelist ul li{
  list-style:none;
  border-bottom:dotted 1px #ccc;
  padding:5px;
  clear:both;
  height:50px;
}
div#storelist ul li span{ 
  float:left;
  width:150px;
}
div#storelist ul li span.name{
  font-weight:bold;
  color:#666;
  width:200px;
  padding-right:20px;
}
div#storelist ul li span.address{
  width:250px;
  padding-right:20px;
  font-size:0.9em;
  color:#777;
}
div#storelist ul li a, div#storelist ul li a:visited{ 
  color:#777;
  text-decoration:none;
}
div#storelist ul li a:hover{
  text-decoration:underline;
  color:#333;
} 
div.close{ 
  height:26px;
  width:26px;
  background:#fff;
  color:#666;
  cursor:pointer;
  text-align:center;
  padding-top:4px;
  font-size:20px;
  font-weight:bold;
  position:absolute;
  top:10px;
  right:10px;
}
div.viewstorelist{ 
  text-align:right;
  font-size:0.8em;
  cursor:pointer;
  padding-top:10px;
  font-weight:bold;
}
div#modalmessage div.viewstorelist{ 
  font-size:18px;
  color:#0093d0;
}
div.viewstorelist:hover{
  text-decoration:underline;
} 
div.locator div.viewstorelist{ 
  padding-top:8px;
}